*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
        /*background-repeat: no-repeat;*/
    color: black;
    background-image: linear-gradient( pink, orange, aqua);
    margin: 150px 0 150px 0; 
}

.contenedor{
    width: 300px;
    margin: 20px auto;
    background-color: #eee5e9;
    padding: 20px;
}

form p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}
input[type = "text"]{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
form .btn{
    width: 100%;
    background: #cf5c36;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;

}